
@{
    ViewBag.Title = "Index";
}

<h2>Zakłady</h2>

<form>
    Nazwa:<br>
    <input type="text" name="nazwa"><br><br>
    Miasto:<br>
    <input type="text" name="miasto"><br><br>
    Adres:<br>
    <input type="text" name="adres"><br><br>
    E-mail:<br>
    <input type="text" name="email"><br><br>
    Nr Telefonu:<br>
    <input type="text" name="nrtelefonu"><br>

</form> 

